/* FONTS */
@font-face {
  font-family: "True Crime";
  src: url("../../assets/fonts/crimes.ttf");
  src: local("True Crime"), url("../../assets/fonts/crimes.ttf") format("truetype"); }
/* BASE STYLES */
/* GLOBAL STYLES - COMMON.SASS */
* {
  box-sizing: border-box; }

::-webkit-scrollbar {
  display: none; }

html {
  overflow: scroll; }

body {
  color: #000; }

.wrapper {
  width: 2480px;
  max-width: 85%;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "True Crime", sans; }

p, a, ul, ol, li {
  font-family: "Josefin Sans", sans-serif; }

a {
  color: #fff;
  transition: all ease-in-out 0.2s;
  text-decoration: none;
  text-transform: capitalize; }
  a:hover {
    font-size: 1.2em;
    cursor: pointer; }

section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 2em 0; }
  section .wrapper {
    height: 100%;
    width: 100%; }

/* SCROLL TO TOP BUTTON STYLES - SCROLLTOTOP.SASS */
#top {
  display: none;
  position: fixed;
  z-index: 5;
  bottom: 90px;
  left: 0;
  padding: 1.5em 0.75em; }

/* FOOTER STYLES - FOOTER.SASS */
footer {
  background-color: #1c1c1c; }
  footer .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em 0; }
    @media all and (max-width: 530px) {
      footer .wrapper {
        display: flex;
        flex-direction: column; } }
    footer .wrapper img {
      width: 13%;
      max-width: 13%; }
      @media all and (max-width: 1085px) {
        footer .wrapper img {
          width: 15%;
          max-width: 15%; } }
      @media all and (max-width: 920px) {
        footer .wrapper img {
          width: 15%;
          max-width: 15%; } }
    footer .wrapper .dbk {
      color: #fff;
      font-size: 1.1em;
      margin: 0; }
      @media all and (max-width: 665px) {
        footer .wrapper .dbk {
          margin-bottom: 0.5em; } }
      footer .wrapper .dbk img {
        width: 15%; }
      footer .wrapper .dbk a {
        color: #de6f16;
        margin-left: 0.25em; }
    footer .wrapper #addthis {
      width: auto; }
      footer .wrapper #addthis div p {
        margin: 0; }
      footer .wrapper #addthis div div a {
        margin: 0; }

/* MODAL STYLES - MODAL.SASS */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50; }

.modal {
  display: none;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .modal .modal-guts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    padding: 0 2.25em; }
    .modal .modal-guts:hover {
      cursor: pointer; }
    .modal .modal-guts #img-modal {
      width: 100%; }
      .modal .modal-guts #img-modal:hover {
        cursor: pointer; }
    .modal .modal-guts p {
      color: #fff;
      margin: 1.25em 0 0 0; }

/* SPLASH.SASS - SPLASH SECTION STYLES */
#splash {
  padding: 0;
  background-color: #000; }
  @media all and (max-width: 1135px) {
    #splash {
      background-image: url("../../assets/img/img-mobile-splash.png");
      background-size: center;
      background-repeat: no-repeat;
      background-position: center; } }
  #splash .overlay {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25); }
    @media all and (max-width: 1135px) {
      #splash .overlay {
        display: block; } }
  #splash .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    top: 0%;
    left: 0%;
    overflow: hidden; }
    #splash .wrapper .vid-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      @media all and (max-width: 1135px) {
        #splash .wrapper .vid-container {
          display: none; } }
      #splash .wrapper .vid-container video {
        position: absolute;
        z-index: 0;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
        left: 0;
        background-size: cover; }
    #splash .wrapper .text {
      display: flex;
      flex-direction: column;
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 2;
      width: 100%;
      height: 100%; }
      @media all and (max-width: 1135px) {
        #splash .wrapper .text {
          display: flex; } }
      #splash .wrapper .text h1, #splash .wrapper .text p {
        color: #fff; }
      #splash .wrapper .text h1 {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        text-transform: uppercase;
        text-align: center;
        font-size: 7em;
        line-height: 0.85;
        margin: 0;
        letter-spacing: 0.05em; }
        @media all and (max-width: 645px) {
          #splash .wrapper .text h1 {
            font-size: 5.5em; } }
        @media all and (max-width: 500px) {
          #splash .wrapper .text h1 {
            font-size: 4.5em; } }
        @media all and (max-width: 400px) {
          #splash .wrapper .text h1 {
            font-size: 3.25em; } }
      #splash .wrapper .text p {
        margin: 0.5em 0 0 0;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 600;
        font-style: italic; }
        @media all and (max-width: 645px) {
          #splash .wrapper .text p {
            font-size: 1.2em; } }
        @media all and (max-width: 500px) {
          #splash .wrapper .text p {
            font-size: 1.1em; } }
        @media all and (max-width: 400px) {
          #splash .wrapper .text p {
            font-size: 1em; } }

/* GALLERY STYLES - GALLERY.SASS */
#gallery {
  padding: 0; }
  #gallery .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%; }
    @media all and (max-width: 776px) {
      #gallery .wrapper {
        display: flex;
        flex-direction: column; } }
    #gallery .wrapper a {
      width: 33.333%;
      height: 50%; }
      @media all and (max-width: 776px) {
        #gallery .wrapper a {
          width: 100%;
          height: 16.667%; } }
      #gallery .wrapper a .gallery-block {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 0 1em;
        width: 100%;
        height: 100%; }
        #gallery .wrapper a .gallery-block:hover {
          transform: scale(1.1);
          cursor: pointer;
          z-index: 2; }
        #gallery .wrapper a .gallery-block h2 {
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          opacity: 0;
          width: 50%;
          color: #fff;
          margin: 0;
          text-align: center;
          text-transform: uppercase; }
          @media all and (max-width: 776px) {
            #gallery .wrapper a .gallery-block h2 {
              opacity: 1; } }
      #gallery .wrapper a #img-broomstick, #gallery .wrapper a #img-piranha, #gallery .wrapper a #img-kidcob {
        align-items: flex-start; }
      #gallery .wrapper a #img-deweyFizz {
        background-image: url("../../assets/img/monsterSmashed01.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
        @media all and (max-width: 776px) {
          #gallery .wrapper a #img-deweyFizz {
            background-image: url("../../assets/img/deweyFizz.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; } }
      #gallery .wrapper a #img-broomstick {
        background-image: url("../../assets/img/monsterSmashed02.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
        @media all and (max-width: 776px) {
          #gallery .wrapper a #img-broomstick {
            background-image: url("../../assets/img/broomstick.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; } }
      #gallery .wrapper a #img-ectoplasm {
        background-image: url("../../assets/img/monsterSmashed03.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
        @media all and (max-width: 776px) {
          #gallery .wrapper a #img-ectoplasm {
            background-image: url("../../assets/img/ectoplasm.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; } }
      #gallery .wrapper a #img-piranha {
        background-image: url("../../assets/img/monsterSmashed04.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
        @media all and (max-width: 776px) {
          #gallery .wrapper a #img-piranha {
            background-image: url("../../assets/img/piranha.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; } }
      #gallery .wrapper a #img-gravesite {
        background-image: url("../../assets/img/monsterSmashed05.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
        @media all and (max-width: 776px) {
          #gallery .wrapper a #img-gravesite {
            background-image: url("../../assets/img/gravesite.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; } }
      #gallery .wrapper a #img-kidcob {
        background-image: url("../../assets/img/monsterSmashed06.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
        @media all and (max-width: 776px) {
          #gallery .wrapper a #img-kidcob {
            background-image: url("../../assets/img/kidcob.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; } }

/* DRINK BLOCK STYLES - DRINK-BLOCK.SASS */
#deweyFizz {
  background-image: url("../../assets/img/deweyFizz.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -150px 0px;
  background-color: #1d122e; }
  #deweyFizz .wrapper {
    align-items: center;
    justify-content: flex-end; }
    #deweyFizz .wrapper else {
      justify-content: center; }
  @media all and (max-width: 600px) {
    #deweyFizz {
      background-image: url("../../assets/img/deweyFizz-bkg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right; } }

#broomstick {
  background-image: url("../../assets/img/broomstick.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 125px 0px;
  background-color: #2d1313; }
  #broomstick .wrapper {
    align-items: center;
    justify-content: flex-start; }
    #broomstick .wrapper else {
      justify-content: center; }
  @media all and (max-width: 600px) {
    #broomstick {
      background-image: url("../../assets/img/broomstick-bkg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left; } }

#ectoplasm {
  background-image: url("../../assets/img/ectoplasm.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -150px 0px;
  background-color: #172406; }
  #ectoplasm .wrapper {
    align-items: center;
    justify-content: flex-end; }
    #ectoplasm .wrapper else {
      justify-content: center; }
  @media all and (max-width: 600px) {
    #ectoplasm {
      background-image: url("../../assets/img/ectoplasm-bkg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right; } }

#piranha {
  background-image: url("../../assets/img/piranha.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-color: #252005; }
  #piranha .wrapper {
    align-items: center;
    justify-content: flex-start; }
    #piranha .wrapper else {
      justify-content: center; }
  @media all and (max-width: 600px) {
    #piranha {
      background-image: url("../../assets/img/piranha-bkg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left; } }

#gravesite {
  background-image: url("../../assets/img/gravesite.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -150px 0px;
  background-color: #171c0d; }
  #gravesite .wrapper {
    align-items: center;
    justify-content: flex-end; }
    #gravesite .wrapper else {
      justify-content: center; }
  @media all and (max-width: 600px) {
    #gravesite {
      background-image: url("../../assets/img/gravesite-bkg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right; } }

#kidcob {
  background-image: url("../../assets/img/kidcob.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-color: #021611; }
  #kidcob .wrapper {
    align-items: center;
    justify-content: flex-start; }
    #kidcob .wrapper else {
      justify-content: center; }
  @media all and (max-width: 600px) {
    #kidcob {
      background-image: url("../../assets/img/kidcob-bkg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left; } }

.drink-block {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .drink-block .wrapper {
    display: flex;
    flex-direction: row; }
    .drink-block .wrapper .overlay {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75); }
    .drink-block .wrapper .text {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      z-index: 2;
      width: 50%;
      color: #fff; }
      @media all and (max-width: 765px) {
        .drink-block .wrapper .text {
          width: 72.5%; } }
      @media all and (max-width: 600px) {
        .drink-block .wrapper .text {
          width: 100%; } }
      .drink-block .wrapper .text .drink-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; }
        .drink-block .wrapper .text .drink-header .booze {
          font-family: "Josefin Sans", sans-serif; }
        .drink-block .wrapper .text .drink-header h1 {
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          font-size: 3em;
          text-transform: uppercase;
          margin: 0 0 0.5em 0;
          text-align: center; }
          @media all and (max-width: 1125px) {
            .drink-block .wrapper .text .drink-header h1 {
              font-size: 3.25em; } }
          @media all and (max-width: 765px) {
            .drink-block .wrapper .text .drink-header h1 {
              font-size: 2.75em; } }
          @media all and (max-width: 550px) {
            .drink-block .wrapper .text .drink-header h1 {
              font-size: 2.5em; } }
          @media all and (max-width: 550px) {
            .drink-block .wrapper .text .drink-header h1 {
              font-size: 1.85em; } }
      .drink-block .wrapper .text .tabs {
        margin: 0;
        padding: 0;
        list-style: none; }
        .drink-block .wrapper .text .tabs .see {
          display: none; }
          @media all and (max-width: 600px) {
            .drink-block .wrapper .text .tabs .see {
              display: inline-block; } }
        .drink-block .wrapper .text .tabs li {
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          color: #fff;
          display: inline-block;
          border-top-left-radius: 0.375em;
          border-top-right-radius: 0.375em;
          cursor: pointer;
          padding: 1.05em 1em;
          z-index: 2;
          font-weight: 300;
          margin: 0; }
        .drink-block .wrapper .text .tabs li.current {
          background: rgba(255, 255, 255, 0.1);
          color: #fff;
          font-weight: 400; }
      .drink-block .wrapper .text .tab-content {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: none;
        border-bottom-right-radius: 0.375em;
        border-bottom-left-radius: 0.375em;
        background: rgba(255, 255, 255, 0.1);
        padding: 1.5em 2em;
        z-index: 0;
        margin-top: -0.3px;
        font-size: 1.1em; }
        @media all and (max-width: 450px) {
          .drink-block .wrapper .text .tab-content {
            padding: 1em; } }
        .drink-block .wrapper .text .tab-content .review {
          margin: 0;
          font-weight: 300; }
          .drink-block .wrapper .text .tab-content .review .person {
            font-weight: 400; }
            .drink-block .wrapper .text .tab-content .review .person .title {
              font-style: italic; }
        .drink-block .wrapper .text .tab-content .ingred-wrapper {
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center; }
          @media all and (max-width: 600px) {
            .drink-block .wrapper .text .tab-content .ingred-wrapper {
              display: flex;
              flex-direction: column; } }
          .drink-block .wrapper .text .tab-content .ingred-wrapper .ingredients {
            width: 50%;
            margin: 0 0.5em 0 0; }
            @media all and (max-width: 600px) {
              .drink-block .wrapper .text .tab-content .ingred-wrapper .ingredients {
                width: 100%;
                margin: 0; } }
            .drink-block .wrapper .text .tab-content .ingred-wrapper .ingredients span {
              font-weight: 300; }
          .drink-block .wrapper .text .tab-content .ingred-wrapper video {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            z-index: 0;
            width: 60%; }
            @media all and (max-width: 600px) {
              .drink-block .wrapper .text .tab-content .ingred-wrapper video {
                margin: 0.75em 0;
                width: 100%; } }
            @media all and (max-width: 450px) {
              .drink-block .wrapper .text .tab-content .ingred-wrapper video {
                display: none; } }
          .drink-block .wrapper .text .tab-content .ingred-wrapper figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 100%; }
            @media all and (max-width: 450px) {
              .drink-block .wrapper .text .tab-content .ingred-wrapper figure {
                display: none; } }
            .drink-block .wrapper .text .tab-content .ingred-wrapper figure img {
              width: 100%; }
            .drink-block .wrapper .text .tab-content .ingred-wrapper figure figcaption {
              font-family: "Josefin Sans", sans-serif;
              text-align: center;
              font-weight: 300;
              margin: 0.5em 0 0 0;
              padding: 0 0.1em; }
        .drink-block .wrapper .text .tab-content img {
          width: 100%; }
        .drink-block .wrapper .text .tab-content .steps {
          margin-bottom: 0; }
          .drink-block .wrapper .text .tab-content .steps .instruc {
            font-weight: 300;
            margin: 0; }
      .drink-block .wrapper .text .tab-content.current {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: block;
        color: #fff; }
      .drink-block .wrapper .text .view {
        display: none;
        align-self: center;
        margin: 1.25em 0 0 0; }
        @media all and (max-width: 600px) {
          .drink-block .wrapper .text .view {
            display: flex; } }

/* ABOUT SECTION STYLES - ABOUT.SASS */
#aboutProj {
  background: #000; }
  #aboutProj .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    @media all and (max-width: 645px) {
      #aboutProj .wrapper {
        display: flex;
        flex-direction: column; } }
    #aboutProj .wrapper .top {
      width: 50%; }
      @media all and (max-width: 645px) {
        #aboutProj .wrapper .top {
          width: 100%; } }
      #aboutProj .wrapper .top .text {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        color: #fff; }
        #aboutProj .wrapper .top .text .editor {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 0.5em 0 0; }
          @media all and (max-width: 645px) {
            #aboutProj .wrapper .top .text .editor {
              padding: 0; } }
          #aboutProj .wrapper .top .text .editor p {
            margin: 0 0 0.25em 0; }
          #aboutProj .wrapper .top .text .editor .abt {
            margin: 0 0 1.25em 0;
            font-weight: 300; }
        #aboutProj .wrapper .top .text p {
          color: #fff;
          margin: 0 0 0.25em 0; }
      #aboutProj .wrapper .top .credits {
        font-weight: 300;
        margin: 4em 0 0 0;
        text-align: left; }
        @media all and (max-width: 645px) {
          #aboutProj .wrapper .top .credits {
            margin: 2em 0; } }
        @media all and (max-width: 450px) {
          #aboutProj .wrapper .top .credits {
            margin-bottom: 0; } }
        #aboutProj .wrapper .top .credits span {
          font-weight: 300; }
    #aboutProj .wrapper figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 50%; }
      @media all and (max-width: 645px) {
        #aboutProj .wrapper figure {
          width: 100%; } }
      @media all and (max-width: 450px) {
        #aboutProj .wrapper figure {
          display: none; } }
      #aboutProj .wrapper figure img {
        width: 85%; }
      #aboutProj .wrapper figure figcaption {
        width: 85%;
        text-align: center;
        font-family: "Josefin Sans", sans-serif;
        color: #fff;
        margin: 1em 0 0 0;
        font-weight: 300; }

/*# sourceMappingURL=main.css.map */
