/* FOOTER STYLES - FOOTER.SASS */
footer
  background-color: #1c1c1c

  .wrapper
    +flex-row
    align-items: center
    justify-content: space-between
    width: 100%
    padding: 1.5em 0
    @media all and (max-width: 530px)
      +flex-col


    .dbk
      color: $white
      font-size: 1.1em
      margin: 0
      @media all and (max-width: 665px)
        margin-bottom: .5em

      a
        color: $accent
        margin-left: .25em

    #addthis
      width: auto
      div
        p
          margin: 0
        div
          a
            margin: 0
